body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.container {
  width: 20px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: computer-laptop-work-place-camera-705164.jpg;
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.9;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 8px;
}

.top-wrapper h3 {
  opacity: 0.7;
  margin-bottom: 5px;
}

.top-wrapper h5 {
  opacity: 0.7;
  margin-bottom: 2px;
}



header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  /* Change the position property to fixed, and top property to 0 */
  position: fixed;
  top: 0;
  /* Change the z-index property to 10 */
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px 10px 10px;
 position:absolute:
}

.header-left {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-left:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-left a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}



.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  float:left;
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}
