.card{
    max-width: 500px;
    max-height: auto;
    background-color:#CCC;
    margin: 30px;
}
.card-text{
    font-size: 15px;
}
.card:hover{
    cursor: pointer;
    background-color: #0f1a24;
    transition: all 0.1s cubic-bezier(0.5, 0.35, 0.15, 0); 
}

.card:hover{
    padding:10px 10px;
    color:white;
}
.col-md-8:hover{
    background-color:#000000;
}
