.footer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #030607;
    max-height: auto;
    color:white !important;
}
.footer-header
{
    color:white !important;
    height:50px;
    background-color:#131414;
    font-weight: bolder;
    font-size: 50px;
    cursor: default;
    display:flex;
    align-items: center;
    justify-content: center;
}
.footer-body
{
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap:  wrap;
}


.contact
{
    height:auto;
    font-weight: bolder;
    padding:0px 20px 0px 20px;
    display: flex;
}

.contact ul
{
    list-style-type: none;
}

.contact li
{
    cursor: pointer;
    padding-top:10px;
    padding-bottom: 10px;
}

.footer-end
{
    background-color: #131414;
    
}
.footer-link{
    color:white !important;
}
.yt-icon:hover{
    color:#FF0000;
}
.git-icon:hover{
    color:#333;
}
.twitter-icon:hover{
    color:#00acee;
}
.li-icon:hover{
    color:#0e76a8;
}
.ig-icon:hover{
    color:#8a3ab9;
}

.social-media
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:70px;
}

.social-media span:hover
{
    cursor: pointer;
}

.feedback{

    padding: 30px 50px 10px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@media( max-width: 900px){
    .footer-body{display:flex;
    align-items: center;
    flex-direction: column;
    padding:0px ;
    }
}