
body {
  font-family: "Frutiger";
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(../Images/Homepage-banner.jpeg);
  background-size: cover;
  color: white;
  text-align: center;
}

.nav-spacing
{
  padding-left: 5rem !important;
}

.main {
  height:auto;
  display: flex;
  flex-direction: flex-start;
  
}
@media ( max-width : 700px){
  .main { flex-wrap:wrap;}
  .news { position: relative;
          left:50%;
        }
}
a{
  color: white;
}
a:hover{
  color:white;
  cursor:pointer;
}


.news
{
    padding:0px 0px 0px 0px;
    float:right;
    margin-top:35px;
    margin-left:20px;
    width:225px;
    height:300px;
    background-color:#9ee2f8;
    border: 2px solid black ;
    text-align: center;
    color:black;
    font-weight: 800; 
}

.news-header
{
   padding:3px;
   text-align: center;
   background-color: #131414;
   font-weight:light;
   margin-top:0px;
   color:white;
}

.content{
  padding:35px 50px 50px 50px;
  float:left;
  font-family: "Open Sans";
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width:auto;
}
marquee{
  animation-name: marquee-news;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}
@keyframes marquee-news{
  0% {color:black;}
  25% {color:#0f2544;}
  50% {color:#206040;}
  75% {color: #660066;}
  100% {color: #6b00b3;}
}

.content-heading{
  text-align: center;
}