
.App{
    background-color:#002633;   
    animation-name:main-bg;
    animation-duration:10s;
    animation-iteration-count: infinite;   
  }
  
  @keyframes main-bg{
    
    0% {background-color: #000000;}
    100%  {background-color: #002633;}
    
  }